/*
  Variables declared here - these are the colors for my pages as well as the font stacks and sizes.

  We specify these variables in :root instead of html for several reasons:

  1) There is a before and after associated with html and by using :root,
     we don't have to worry about them as :root covers the entire DOM.

  2) Specificity - a pseudo class is more heavily weighted than a simple element like html.
*/
:root {
  --black: #171321;
  --aquaocean: #0477bf;
  --aquawater: #048abf;
  --aquagreen: #3c92a6;
  --sand: #bfb19f;
  --aquafoam: #aed3f2;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
}

/* Border box model: https://css-tricks.com/box-sizing/ */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Arial, sans-serif;
}
